body {
    font-family: Western, sans-serif;
    margin: 0;
    padding: 0;
    background: url('lava.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

header {
    background: #00a2b7;
    color: black;
    padding: 25px;
    font-size: 35px;
    animation: fadeIn 2s ease-in-out;
}

.container {
    max-width: 950px;
    margin: 100px auto;
    padding: 30px;
    background: #00a2b7;
    border-radius: 15px;
    box-shadow: 1px 1px 15px 15px black;
    animation: slideUp 1.5s ease-out;
    text-align: center;
}

h2 {
    color: #000000;
    font-size: 28px;
    margin-bottom: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;  
    gap: 70px; /* Увеличил расстояние между блоками */
    margin-top: 40px;
    text-align: center;
}

/* Стили для ссылки .project */

.project {
    background: #00a2b7;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    color: #000000;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    width: 330px;
    height: auto;
    display: block; /* Делает .project кликабельным на всю ширину */
    text-decoration: none; /* Убирает подчеркивание ссылок */
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 10px 10px #f84523;
}

.project h3, .project span {
    color: #ffffff; /* Оставляем цвет текста внутри блока */
    font-size: 23px;
}
.project p{
    color: #ffffff; /* Оставляем цвет текста внутри блока */
    font-size: 18px;
}

.footer-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    background: #00a2b7;
    color: #ffffff;
}

.footer-container a {
    display: inline-block;
    margin: 0 10px;
}

.footer-icon {
    width: 40px; /* Размер иконок */
    height: auto;
    transition: transform 0.3s ease;
}

.footer-icon:hover {
    transform: scale(1.3);
}


/* Анимации */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes slideUp {
    0% { transform: translateY(50px); opacity: 0; }
    100% { transform: translateY(0); opacity: 1; }
}
/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    header {
        font-size: 25px;
        padding: 15px;
    }

    .container {
        max-width: 100%;
        padding: 15px;
    }

    .projects {
        gap: 25px;
    }

    .project {
        width: 80%; /* Блоки становятся на всю ширину */
        margin-bottom: 30px;
    }

    .project h3, .project span {
        font-size: 20px;
    }

    .project p {
        font-size: 18px;
    }
}